@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  /* Remove display: flex and place-items: center from here */
}

#root {
  width: 100%;
  height: 100%;
}